* {
  font-family: Georgia;
}

.header {
  padding: 60px;
  text-align: right;
  background: white;
  color: black;
  font-size: 15px;
}

.header[p] {
  text-align: right;
}

/*.container {*/
/*  margin-left: 50px;*/
/*  margin-right: 50px;*/
/*}*/

.main {
  margin-left: 50px;
  margin-right: 50px;
}
.title {
    text-align: left;
    margin-left: 100px;
    color: #99e6b3;
    font-weight: bold;
}

.text-center {
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
}

/*pre {*/
/*  background-color: lightgray;*/
/*  border: darkgray;*/
/*}*/

.fit-image {
  width: 100%;
}

.fit-video {
  /*height: 100%;*/
  width: 250px;
}

.fit-video-horiz {
  width: 100%;
}

a {
  padding: 15px;
  color: darkgray;
  /*background:#99e6b3;*/
  text-decoration: none;
}

a:hover {
  background: #702963;
}

a[href* = './aboutme'] {
  color: red;
}

.row {
  padding-bottom: 20px;
  padding-top: 20px;
}

#headshot {
  max-width: auto;
  height: 50%;
}

/* img{
  max-height: 300px;
  max-width: auto;
  padding-bottom: 40px;
} */

pre {
  padding-left: 50px;
  padding-right: 50px;
  overflow: scroll;
  height: 500px;
  background: lightgray 0.5%;


}

img{
  height: auto;
  width: 100%;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 60px;
  text-align: left;
  background: #99e6b3;
  color: white;
  font-size: 10px;
}

.final_proj {
  margin-left: 30px;
}
