* {
  font-family: Georgia;
}

.header {
  padding: 60px;
  text-align: right;
  background: white;
  color: black;
  font-size: 15px;
}

.header[p] {
  text-align: right;
}

.title {
    text-align: left;
    margin-left: 100px;
}

a {
  padding: 15px;
  color: darkgray;
  background:#99e6b3;
  text-decoration: none;
}

a:hover {
  background: #702963;
}

a[href* = './aboutme'] {
  color: red;
}

.row {
}

#headshot {
  max-width: auto;
  height: 50%;
}

img{
  max-height: 300px;
  max-width: auto;
  padding-bottom: 40px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 60px;
  text-align: left;
  background: #99e6b3;
  color: white;
  font-size: 10px;
}

.final_proj {
  margin-left: 30px;
}
